.searchbar-header {
display: flex;
justify-content: center;
align-items: center;
padding: 10px;
border-image: linear-gradient(to bottom, #7A288A, #C51077) 1;
border-width: 2px;
border-style: solid;
border-radius: 5px;
box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
width: 300px;
margin: 0 auto;
}

.searchbar-header input {
width: 70%;
height: 25px;
padding: 5px;
font-size: 12px;
border: none;
border-radius: 5px;
background-color: #2F2F2F;
color: #fff;
}

.searchbar-header input:focus {
outline: none;
box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.searchbar-header input::placeholder {
color: #ccc;
}

.searchbar-header button {
width: 20%;
height: 25px;
padding: 5px;
margin-left: 10px;
font-size: 12px;
border: none;
border-radius: 5px;
background-image: linear-gradient(to bottom, #7A288A, #C51077);
color: #fff;
cursor: pointer;
}

.searchbar-header button:hover {
background-image: linear-gradient(to bottom, #C51077, #7A288A);
}